@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}   

p{
    font-size: 1rem;
}

#maps{
    height: 70%;
    padding-left: 15%;
}

#poblacion{
    height: 500px;
    width: 500px;
}

.row:after {
    content: "";
    clear: both;
} 

.row{
    display: flex;
}

.column-izquierda{
    width: 20%;
    float: left;
    background-color: lightgoldenrodyellow;
}

.column-medio{
    width: 60%;
    float: left;
}

.column-derecha{
    width: 20%;
    float: right;
    background-color: lightgoldenrodyellow;
    padding-left: 2%;
    padding-right: 1%;
}

.column-img1{
    width: 33%;
}

.column-img2{
    width: 33%;
}

.column-img3{
    width: 33%;
}

h3{
    font-size: 1.3rem;
}

h6{
    font-size: 1.05rem;
}

header{
    height: 100vh;
    background-image: url("../img/bcn4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
img{
    width: 100%;
}
#img-1{
    height: 45vh;
    background-image: url("../img/bcn1.jpg");
    background-size: cover;
    background-position: center;
}
#img-2{
    height: 45vh;
    background-image: url("../img/bcn2.jpg");
    background-size: cover;
    background-position: center;
}
#img-3{
    height: 45vh;
    background-image: url("../img/bcn3.jpeg");
    background-size: cover;
    background-position: center;
}

article{
    background-color: rgb(227, 227, 227);
}

a{
    text-decoration: none;
    color: black;
}

.padding-s{
    padding: 2%;
}

.blanco{
    background-color: white;
}

@media only screen and (max-width: 600px){
    
    .column-izquierda{
        width: 100%;
    }

    .column-medio{
        width: 100%;
    }

    .column-derecha{
        width: 100%;
    }
}